<p>Welcome to {{title}}</p>
<h2>Oh Captain, my Captain!</h2>
<a href="https://www.youtube.com/watch?v=6rYhRqf757I"><img class="captain" src="./images/jeanluc.jpg" alt="Oh captain, my captain: Jean Luc Picard"></a>
