body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  height: 500px;
}

.captain{
  height: 750px;
}

h1, h2, h3 {
  text-align: center;
}

.a-movie {
  text-align: center;
}
