<form class="form-horizontal" action="/movies" method="post">
  <div class="form-group col-lg-8">

    <label for="title">Title:</label>
    <input placeholder="Title" class="form-control" id="title" type="text" name="title" value=""></br>

    <label for="director">Director:</label>
    <input placeholder="Director" class="form-control" id="director" type="text" name="director" value=""></br>

    <label for="year">Year:</label>
    <input placeholder="Year" class="form-control" id="year" type="text" name="year" value=""></br>

    <label for="my_rating">Rating:</label>
    <input placeholder="Rating" class="form-control" id="my_rating" type="text" name="my_rating" value=""></br>

    <label for="poster_url">Poster URL:</label>
    <input placeholder="Poster URL" class="form-control" id="poster_url" type="text" name="poster_url" value="">
    <a href="https://www.cinematerial.com/posters/best-of-2014" target="_blank">Find some posters here!</a>

    </br>
    <input default="" type="submit" name="" value="Submit!">
  </div>
</form>
